<strong>Hello, {{ provider }}</strong>
<p>There has been an appointment cancellation, check the details below:</p>
<p>
  <strong>Client: </strong>{{ user }}<br />
  <strong>Date/Time: </strong>{{ date }}<br />
  <br />
  <small>The schedule is now available for an appointment.</small>
</p>
